# themes
theme = "Gruvbox Dark"
#theme = "TokyoNight"

# appearance
#font-family = MesloLGM Nerd Font Mono
font-family = TerminessTTF Nerd Font Mono
font-thicken = false
font-size = 14
window-inherit-font-size

# cursor
cursor-color = "red"
shell-integration-features = "no-cursor"
cursor-style = "underline"
cursor-style-blink = "true"

# others
#shell-integration-features = no-cursor,sudo,no-title
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true
window-decoration = client
title = '~'
mouse-hide-while-typing = true
mouse-scroll-multiplier = 3

## Clipboard
clipboard-read = "allow"
clipboard-paste-protection = false
