theme = "material_deep_ocean"
[editor]
true-color = true
auto-completion = true
auto-info = true
line-number = "relative"
mouse = true
shell = ["zsh"]

[editor.cursor-shape]
insert = "bar"
normal = "underline"
select = "block"

[editor.file-picker]
hidden = false
git-ignore = true

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-modification-indicator"]
center = ["version-control"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]
separator = "│"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.indent-guides]
render = true
skip-levels = 1

[keys.normal]
# Vim movement
h = "move_char_left"
j = "move_visual_line_down"
k = "move_visual_line_up"
l = "move_char_right"
g = "goto_file_start"
G = "goto_file_end"
V = 'select_line_below'

# Word movement
w = "move_next_word_start"
b = "move_prev_word_start"
e = "move_next_word_end"

# Line movement
"0" = "goto_line_start"
"$" = "goto_line_end"

# Insert
i = "insert_mode"
a = "append_mode"
o = "open_below"
O = "open_above"

# Delete (like Vim)
x = "delete_char_forward"
d = { d = ["extend_line_below", "delete_selection"] }

# Yank / paste
y = "yank"
p = "paste_after"
P = "paste_before"

# Undo / redo
u = "undo"

# Visual mode
v = "select_mode"

# Escape
esc = "normal_mode"

[keys.normal."/"]
"/" = "search"
"n" = "search_next"
"N" = "search_prev"

[editor.lsp]
display-messages = true
auto-signature-help = false
