[[language]]
name = "python"
language-servers = ["ty","ruff"]
auto-format = true

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[language.formatter]
command = "ruff"
args = ["format", "-"]

[[language]]
name = "lua"
auto-format = true
formatter = { command = "stylua", args = ["-"] }

[[language]]
name = "puppet"
scope = "source.puppet"
file-types = ["pp"]
formatter = { command = "/usr/local/bin/puppet-lint", args = ["--fix", "{file}"]}
auto-format = true

[[language]]
name = "c"
language-servers = [ "clangd" ]
auto-format = true

[language-server.clangd]
{% if ansible_os_family == "FreeBSD" %}
command = "/usr/local/bin/clangd"
{% else %}
command = "/usr/bin/clangd"
{% endif %}
