if [[ -d /snap/bin ]]; then
  export PATH=$HOME/bin:/usr/local/bin:/snap/bin:$PATH
else
  export PATH=$HOME/bin:/usr/local/bin:$PATH
fi

if [[ -f $HOME/.zplug/init.zsh ]]; then
  source $HOME/.zplug/init.zsh
  zplug "romkatv/powerlevel10k", as:theme, depth:1
  zplug "zsh-users/zsh-history-substring-search"
  zplug "zsh-users/zsh-syntax-highlighting", defer:2
  zplug "zsh-users/zsh-autosuggestions"
  zplug "zsh-users/zsh-completions"
  zplug "supercrabtree/k"
  zplug "agkozak/zsh-z"
  zplug "belak/zsh-utils"
  zplug "zplug/zplug"

  if ! zplug check --verbose ; then
     printf "Install? [y/N]: "
       if read -q; then
          echo; zplug install
       fi
  fi
  zplug load

else
  curl -sL --proto-redir -all,https \
    https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh
fi

if [[ -d "$HOME/.fzf-tab" ]]; then
  #autoload -U compinit && compinit
  source $HOME/.fzf-tab/fzf-tab.plugin.zsh
  enable-fzf-tab
else
  git clone https://github.com/Aloxaf/fzf-tab $HOME/.fzf-tab
fi

{% if ansible_system == "Darwin" %}
export CURL_SSL_BACKEND="secure-transport"

if [[ ! -f /opt/local/bin/zoxide ]]; then
  sudo port install zoxide
else
  eval "$(zoxide init zsh)"
fi

if [[ -f /opt/local/bin/luarocks ]]; then
  eval "$(luarocks path)"
fi

if [[ -f /opt/local/bin/lsd ]]; then
  alias ll="lsd -l"
  alias ls="lsd"
  alias lt="lsd --tree -a -I '.git|__pycache__|.mypy_cache|.ipynb_checkpoints'"
else
  sudo port install lsd
fi

if [[ -f /opt/local/bin/nvim ]]; then
  alias vim="/opt/local/bin/nvim"
else
  sudo port install neovim
fi

if [[ -f /opt/local/bin/fzf ]]; then
  source /opt/local/share/fzf/shell/key-bindings.zsh
  source /opt/local/share/fzf/shell/completion.zsh
else
   sudo port install fzf ripgrep bat
fi

alias sshmine="ssh -I /usr/local/lib/opensc-pkcs11.so -F ssh.config"
alias sshno="ssh -F ssh.config -o StrictHostKeyChecking=no"
alias load_key="ssh-add -s /usr/local/lib/libykcs11.dylib "
alias unload_key="ssh-add -e /usr/local/lib/libykcs11.dylib"
alias get_pubkey="ssh-keygen -D /usr/local/lib/libykcs11.dylib -e"
alias sshno="ssh -I /usr/local/lib/libykcs11.dylib -o StrictHostKeyChecking=no -F ssh.config"
alias pyenv="source $HOME/Documents/venv/pyenv/bin/activate"
alias myenv="source $HOME/Documents/venv/myenv/bin/activate"
alias ipython3="source $HOME/Documents/venv/ipython3/bin/activate"

if [[ -f /opt/homebrew/bin/nvim ]]; then
  alias vim="/opt/homebrew/bin/nvim"
elif [[ -f /opt/local/bin/nvim ]]; then
  alias vim="/opt/local/bin/nvim"
fi

{% elif ansible_system == "Linux" %}

if [[ -f /usr/bin/luarocks ]]; then
  eval "$(luarocks path)"
fi

if [[ -f /snap/bin/nvim ]]; then
  alias vim="/snap/bin/nvim"
elif [[ -f /usr/bin/nvim ]]; then
  alias vim="/usr/bin/nvim"
fi

{% if ansible_os_family == "Suse" %}
if [[ ! -f /usr/bin/fzf ]]; then
  sudo zypper install -y ripgrep fzf fzf-zsh-integration
fi
if [[ ! -f /usr/bin/bat ]]; then
  sudo zypper install -y bat
fi
if [[ ! -f /usr/bin/lsd ]]; then
  sudo zypper install -y lsd
else
  alias ll="lsd -l"
  alias ls="lsd"
  alias lt="lsd --tree -a -I '.git|__pycache__|.mypy_cache|.ipynb_checkpoints'"
fi

{% elif ansible_distribution == "Debian" %}
if [[ ! -f /usr/bin/lsd ]]; then
  sudo apt-get install -y lsd
else
  alias ll="lsd -l"
  alias ls="lsd --icon always"
  alias lt="lsd --tree -a -I '.git|__pycache__|.mypy_cache|.ipynb_checkpoints'"
fi

if [[ ! -f /usr/bin/batcat ]]; then
  sudo apt install -y bat
fi

if [[ ! -f /usr/bin/fzf ]]; then
  sudo apt install -y fzf ripgrep
fi

{% elif ansible_distribution == "Ubuntu" %}
if [[ ! -f /usr/bin/exa ]]; then
  sudo apt install -y exa
else
  alias ll="exa -l"
  alias ls="exa --icons"
  alias lt="exa --tree -a -I '.git|__pycache__|.mypy_cache|.ipynb_checkpoints'"
fi
if [[ ! -f /usr/bin/batcat ]]; then
  sudo apt install -y bat
fi

if [[ ! -f /usr/bin/fzf ]]; then
  sudo apt install -y fzf ripgrep
fi

{% elif ansible_os_family == "RedHat" %}
if [[ ! -f $HOME/.cargo/bin/lsd ]]; then
  sudo yum install -y epel-release cargo
  cargo install lsd
else
  export PATH=$HOME/bin:/usr/local/bin:$HOME/.cargo/bin:$PATH
  alias ls="lsd -l"
  alias ls="lsd --icon always"
  alias lt="lsd --tree -a -I '.git|__pycache__|.mypy_cache|.ipynb_checkpoints'"
fi

if [[ ! -f /usr/bin/bat ]]; then
  sudo yum install -y bat
fi

if [[ ! -f /usr/bin/fzf ]]; then
  sudo yum install -y fzf ripgrep
fi
{% endif %}

{% if ansible_os_family == "RedHat" or ansible_os_family == "Suse" %}
source ~/.fzf-tab/fzf-tab.zsh
source ~/.fzf-tab/fzf-tab.plugin.zsh
{% elif ansible_os_family == "Debian" %}
source /usr/share/doc/fzf/examples/key-bindings.zsh
source /usr/share/doc/fzf/examples/completion.zsh
{% endif %}
{% endif %}

if [[ -d $HOME/Documents/venv ]]; then
alias myenv="source $HOME/Documents/venv/ansible/bin/activate"
alias ipython3="source $HOME/Documents/venv/ipython3/bin/activate"
alias testenv="source $HOME/Documents/venv/testenv/bin/activate"
fi

alias fp="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"
alias gig="git log --all --decorate --oneline --graph"
alias cdiff="diff --suppress-common-lines --side-by-side --color=always"
export FZF_DEFAULT_COMMAND='rg --hidden --no-ignore --files -g "!.git/"'
export FZF_CTRL_T_COMMAND=$FZF_DEFAULT_COMMAND
export FZF_DEFAULT_OPTS='--height 80% --layout=reverse --border --color=dark'
# history
export HISTFILE=~/.zsh_history
export HISTSIZE=10000
export SAVEHIST=10000
setopt hist_ignore_dups      # don’t record duplicate commands
setopt hist_ignore_space     # don’t record commands starting with space
setopt share_history         # share history across sessions
setopt append_history        # append instead of overwrite

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
