---
- hosts: localhost
  become: true
  gather_facts: yes

  tasks:
    - name: Install git-delta package
      package:
        name: git-delta
        state: present
        update_cache: true

    - name: Place gitconfig themes for delta
      become: false
      copy:
        src: themes_gitconfig
        dest: ~/themes_gitconfig
        mode: 0644

    - name: Add settings in gitconfig file
      become: false
      template:
        src: template/gitconfig.j2
        dest: ~/.gitconfig
        mode: 0644
