---
- hosts: localhost
  become: true
  gather_facts: yes

  tasks:
    - name: Install git-delta package
      package:
        name: git-delta
        state: present
        update_cache: true

    - name: Place gitconfig themes for delta
      become: false
      copy:
        src: themes_gitconfig
        dest: ~/themes_gitconfig
        mode: 0644

    - name: Add settings in gitconfig file
      become: false
      blockinfile:
        path: ~/.gitconfig
        block: |
          [core]
            pager = {{ pager }}

          [include]
            path = ~/themes_gitconfig

          [pull]
            rebase = true

          [interactive]
            diffFilter = delta --color-only

          [delta]
            features = {{ delta_theme }}
            side-by-side = {{ git_side_by_side }}
            navigate = true
            light = false
            line-numbers = true

          [merge]
            conflictstyle = diff3

          [diff]
            colorMoved = default

          [color]
            ui = auto

          [log]
            date = short

          [format]
            pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'
